{% extends 'news/base.html' %}


{% block title %}{{ new.title }}{% endblock %}


{% block content %}
<div class="col-12 m-2">
    <div class="card">
        <div class="card-body">
            <img src="{{ new.photo.url }}" width="100" class="float-left" alt="">
            <h5 class="card-title">{{ new.title }}</h5>
            <p class="card-text"><small class="text-muted"></small><a href="{{ new.category.get_absolute_url }}" class="link-dark">{{ new.category }}</a></small></p>
            <p class="card-text">{{ new.content }}</p>
            <p class="card-text text-end"><small class="text-muted">{{ new.created_at|date:"Y-m-d H:i" }}</small></p>
        </div>
    </div>
</div>
{% endblock %}